@model RetailManagment.Models.Customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Please Login to use the Retail Managment System</h3>

@using(Html.BeginForm("Login","Login", FormMethod.Post))
            {
    @Html.ValidationSummary();
                 @Html.LabelFor(model => model.Email);
                 @Html.TextBoxFor(model => model.Email);
                 @Html.ValidationMessageFor(model => model.Email);

                 @Html.LabelFor(model => model.Password);
                 @Html.PasswordFor(model => model.Password);
                 @Html.ValidationMessageFor(model => model.Password);

            <button type ="submit">login</button> 
            }
<hr />
<h5>If you do not have an account @Html.ActionLink("SignUp", "Signup", "Customers"). </h5>
            

