@model IEnumerable<RetailManagment.Models.Commodity>
@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

<table class="table">

    @if (TempData["Alert"] != null)
    {
        <div class="alert alert-warning">
            @TempData["Alert"]
        </div>
    }
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Commo_name</td>
                <td>@item.Stocks</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Add Item", "Add_inven")
@Html.ActionLink("Update Item", "Update_Pro")