@model IEnumerable<RetailManagment.Models.Commodity>
@{
    ViewBag.Title = "Index";
}


<h2>Inventory</h2>

<table class="table">

    <thread>
        @if (ViewBag.alerts != null && ViewBag.Alerts.Count > 0)
        {
            foreach (var alert in ViewBag.Alerts)
            {
                <div class="alert alert-info">
                    @alert
                </div>
            }
        }
    </thread>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Commo_name</td>
                    <td>@item.Stocks</td>
                    <td>@Html.ActionLink("Details", "Commodity_detail_withname", "Commodity", new { name = item.Commo_name.ToString() }, null)</td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.ActionLink("Add Item", "Add_inven")
@Html.ActionLink("Update Item", "Update_Pro")