@model RetailManagement.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4><b>Employee Details </b></h4>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.first_name, "First Name:")
        </dt>


        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.last_name, "Last Name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.LabelFor(model => model.role, "Role:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role)
        </dd>

        <dt>
            @Html.LabelFor(model => model.role, "Start Date:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.LabelFor(model => model.role, "End Date:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employee_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
